* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#00b4db, #0083b0);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* keyboar sceleton */

.keyboard {
  position: relative;
  width: 880px;
  top: 25vh;
  /* if text: */
  /* top: 45px */
  height: 50vh;
  margin: 0 auto;
}

.keyboard > * {
  position: absolute;
  border-radius: 0.75em;
}

.keyboard-base {
  height: 100%;
  width: 100%;
  /* background-color: rgb(4, 68, 90); */
  background-color: rgb(126, 193, 216);
  z-index: 2;
}

.power-btn-container {
  z-index: 10;
  right: 17.2px;
  top: 12px;
}

.power-btn {
  background-color: transparent;
  border: none;
}

.keys-block {
  /* background-color: rgb(126, 193, 216); */
  left: 0;
  right: 0;
  top: 20px;
  padding: 25px;
  z-index: 3;
}

.touchpad-container {
  width: 100%;
  height: 128px;
  top: 343px;
  margin: 0 auto;
}

/* keyboard buttons */

.keys-row {
  display: inline-grid;
  gap: 0.5em;
  width: 100%;
  margin: 0.25em 0;
}

/* buttons width in grid rows */

.first-row {
  grid-template-columns: repeat(13, 3em) auto;
}

.second-row {
  grid-template-columns: auto repeat(13, 3em);
}

.third-row {
  grid-template-columns: auto repeat(11, 3em) auto;
}

.fourth-row {
  grid-template-columns: auto repeat(10, 3em) auto;
}

.fifth-row {
  grid-template-columns: 30em;
  justify-content: center;
}

/* keys configuration */

.key-container {
  position: relative;
  height: 3em;
  border-radius: 5px;
}

button {
  width: 100%;
  height: 100%;
  border-radius: 0.4em;
  border-color: #0083b0;
  font-size: 1em;
  color: rgb(1, 56, 75);
}

/* touchpad skeleton */

.touchpad {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 250px;
  height: 128px;
  background-color: rgb(74, 142, 165);
  border-radius: 0.5em;
  /* add shadow */
  /* config color */
}

.material-icons {
  color: rgb(74, 142, 165);
}
